nav {
	background-color: #990099;
	display: inline-block;
}

nav a.menu-item{
	color: white;
	display: inline-block;
	border-right: 1px white solid;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

a.menu-item:last-child {
	border-right: none;
}

/* 2nd task */
ul.concern-list {
	list-style-type: none;
	padding: 0px;
	width: 150px;
}

ul.concern-list li {
	font-size: 18px;
}

ul.concern-list li:first-child {
	font-weight: bold;
	font-size: 22px;
}

ul.concern-list li:first-child::before {
	content: "";
	display: block;
	height: 1px;
	vertical-align: middle;
	background-color: black;
}

ul.concern-list li:last-child {
	border-bottom: 1px #000 solid;
}

ul.concern-list li a {
	display: block;
	text-decoration: none;
	color: #444;
}

ul.concern-list li a:hover {
	color: #999;
	text-decoration: underline;
}

/* 3rd task */
body header h1 a img {
	color: #990099;
}

body header + main section article {
	color: #b300b3;
	background-color: black;
	border: 5px black solid;
	border-radius: 10px;
	padding: 5px;
}

body header + main + footer {
	margin-top: 15px;
	font-size: 13px;
	color: #b300b3;
}

/* 4th task */
article h1 {
	text-align: center;
}

article p {
	font-size: 18px;
	text-align: justify;
}

article img {
	float: left;
}

/* 5th task */
table {
	margin-top: 10px;
	border: none;
	border-collapse: collapse;
}

table tr td {
	padding: 10px;
	border: 1px #4d4d4d solid;
}

table tr td:nth-child(3), td:nth-child(4) {
	text-align: center;
}

table tr td:last-child {
	text-align: right;
}

table tr:nth-child(2n) {
	background-color: #cccccc;
}

table thead tr td {
	background-color: #595959;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center !important; 
}